*{
    box-sizing: border-box;
}
html, body{
    font-family: 'Inter', sans-serif;
    font-size: 10px;
}
body{
    background-image: url(../img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.wrapper{
    margin: 0 auto;
    width: 93%;
}
p{
    margin: 0;
}
a{
    text-decoration: none;
    color: #FFFFFF;
}
header{
    display: flex;
    justify-content: space-between;
}
.usercontrols{
    display: inline-flex;
    justify-content: space-between;
    margin-top: 4.2rem;
}
.logo{
    display: inline-flex;
    align-items: center;
    margin-top: 70px;
}
.text-friday{
    font-size: 2.4rem;
    line-height: 2.9rem;
    color: #C8C8C8;
    padding-left: 2.3rem;
    border-left: 0.3rem solid #FFFFFF;
    margin-left: 2.3rem;
}
.control-search{
    font-size: 3rem; 
    color: #FFFFFF;
    border: medium none;
    background-image: none; 
    background: transparent;
    background-color: transparent;
    margin-right: 5rem;
}
.control-search:hover{
    font-size: 4rem;
    transition: 0.5s;
}
.control-photo:hover{
    cursor: pointer;
}
.genre{
    color: #FFFFFF;
    display: inline-flex;
    font-size: 3.2rem;
    line-height: 3.9rem;
}
.genre div{
    margin-right: 2rem;
    padding-right: 2.3rem;
    border-right: 0.3rem solid #FFFFFF;
}
.genre div:last-child{
    border: none;
}
.maincontent{
    margin: 12.5rem auto;
    display: flexbox;
}
.filmnamed h1{
    color: #FFFFFF;
    font-size: 6.4rem;
    line-height: 7.7rem;
}
.moviedetails{
    color: #FFFFFF;
    display: inline-flex;
    font-size: 3rem;
    line-height: 3.6rem;
}
.moviedetails div{
    margin-right: 25px;
    padding-right: 2.3rem;
    border-right: 0.3rem solid #FFFFFF;
}
.moviedetails div:last-child{
    border: none;
    margin-right: 0;
    padding-right: 0;
}
.gray{
    font-size: 2.9rem;
    line-height: 3.5rem;
    color: #A7A6A6;
}
div .gray{
    display: inline-flex;
}
.aboutfilm{
    font-size: 2.4rem;
    line-height: 3.4rem;
    color: #A7A6A6;
    display: flex;
    width: 53%;
    margin-top: 4rem;
}
.starreviews h2{
    display: flex;
    color: #FFEA2B;
    margin: 3.5rem auto;
    font-size: 3.2rem;
}
.starreviews i{
    margin-right: 1.6rem;
}
.starreviews .fa-regular{
    color: #FFFFFF;
}
.button-play button{
    padding: 0.7rem 4rem;
    background: #D50D1F;
    border-radius: 10px;
    color: #FFFFFF;
    border: none;
}
.button-play button:hover{
    opacity: 0.7;
    transition: 0.7s;
    cursor: pointer;
}
.button-play{
    font-size: 2.2rem;
    display: flex;
    margin-right: 5rem;
}
.button-play .fa-solid{
    padding: 1.8rem;
}
.button-control{
    display: flex;
    margin: 5.5rem auto;
}
.episods{
    color: #FFFFFF;
    padding: 2rem 4rem;
    border: 3px solid #FFFFFF;
    border-radius: 10px;
    font-size: 2.2rem;
    align-items: center;
}
.episods:hover{
    opacity: 0.7;
    transition: 0.7s;
    cursor: pointer;
}
.recomend{
    width: 56%;
}
.list-recomend {
    display: flex;
    justify-content: space-between;
    color: #FFFFFF;
    font-size: 2.2rem;
    font-weight: 800;
    align-items: center;
}
.recomend-control i{
    margin: 1.2rem;
    font-size: 4.1rem;
    opacity: 0.4;
}
.recomend-control i:hover{
    font-size: 3.8rem;
    opacity: 1;
    transition: 0.7s;
    cursor: pointer;
}
.recomend-control .fa-circle-chevron-right{
    margin-right: 0;
}
.slide-film ul li{
    display: block;
    width: 17%;
}
.slide-film ul{
    display: flex;
    padding: 0;
    justify-content: space-between;
}
.slide-film ul li img{
    width: 100%;
    opacity: 0.5;
}
.slide-film ul li img:hover{
    opacity: 1;
    cursor: grab;
    transition: 0.7s;
}
.age{
    position: fixed;
    bottom: 10.3rem;
    right: 0rem;
    background: rgba(255, 255, 255, 0.49);   
    font-size: 2.4rem;  
    color: #FFFFFF;
    border-left: 3.3rem solid red;
    padding: 2.2rem 7rem;
}
@media screen and (max-width:550px){
    body{
        background-image: url(../img/background.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-color: rgb(17, 17, 20);
    }
    .wrapper{
        width: 90%;
        margin: 0 auto;
    }
    header{
        display: inline-flex;
        width: 100%;
        align-items: center;
    }
    .logo{
        display: block;
        align-items: flex-start;
        margin-top: 2rem;
    }
    .vertical{
        display: none;
    }
    .usercontrols{
        margin-top: 2rem;
        margin-left: 5rem;
    }
    .text-friday{
        border: none;
        padding: 0;
        margin: 0;
    }
    .control-search{
        font-size: 3rem; 
        color: #FFFFFF;
        border: medium none;
        background: transparent;
        background-color: transparent;
        margin-right: 1rem;
    }
    .control-photo img{
        width: 5rem;
        height: 5rem;
    }
    .maincontent{
        margin: 4rem auto;
        display: flexbox;
    }
    .genre{
        color: #FFFFFF;
        display: inline-flex;
        font-size: 2rem;
    }
    .filmnamed h1{
        color: #FFFFFF;
        font-size: 4rem;
        line-height: 7.7rem;
    }
    .moviedetails, .gray{
        color: #FFFFFF;
        display: inline-flex;
        font-size: 1rem;
    }
    .gray{
        font-size: 1rem;;
        color: #A7A6A6;
    }
    .moviedetails div{
        margin-right: 1rem;
        padding: 0;
        border: none;
    }
    .vertical2{
        display: none;
    }
    .aboutfilm{
        font-size: 1.4rem;
        color: #A7A6A6;
        display: flex;
        text-align: justify;
        width: 100%;
        margin-top: 1rem;
    }
    .button-play button{
        background-image: url(../img/background.png);
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 10px;
        color: #FFFFFF;
        border: 1px solid #FFFFFF;
        margin-bottom: 2rem;
    }
    .button-play button:hover{
        opacity: 0.7;
        transition: 0.7s;
    }
    .button-play{
        font-size: 2.2rem;
        display: flex;
        margin-right: 0;
    }
    .button-play .fa-solid{
        padding: 1.8rem;
    }
    .button-control{
        display: block;
        margin: 0 auto;
        align-items: center;
    }
    .episods{
        color: #FFFFFF;
        background-image: url(../img/background.png);
        background-repeat: no-repeat;
        background-size: cover;
        padding: 0.6rem 3rem;
        border: 1px solid #FFFFFF;
        border-radius: 5px;
        font-size: 1.2rem;
        max-width: 15rem;
    }
    .episods:hover{
        opacity: 0.7;
        transition: 0.7s;
    }
    .recomend{
        width: 100%;
    }
    .list-recomend {
        display: flex;
        font-size: 2.2rem;
        font-weight: 800;
        align-items: center;
        margin-top: 4rem;
    }
    .recomend-control i{
        font-size: 2.1rem;
        opacity: 0.4;
    }
    .slide-film ul{
        display: block;
    }
    .slide-film ul li{
        width: 45%;
        float: left;
        margin: 0.5rem;
    }
    .slide-film ul li img{
        opacity: 1;
    }
    .age{
        position: fixed;
        bottom: 6rem;
        right: 0rem;
        width: 9rem;
        height: 3.3rem;     
        font-size: 1.4rem;  
        color: #FFFFFF;
        border-left: 2.3rem solid red;
        padding: 1rem;
    }
}
@media screen and (min-width:550px) and (max-width:1200px){
    .slide-film ul{
        display: flex;
    }
    .slide-film ul li img{
        margin: 0.5rem;
    }
    .aboutfilm{
        font-size: 1.4rem;
        color: #A7A6A6;
        display: flex;
        width: 60%;
        text-align: justify;
    }
    .age{
        bottom: 3rem;
    }
    .recomend{
        width: 100%;
    }
    .moviedetails div{
        margin-right: 1rem;
        padding-right: 1rem;
        border-right: 0.3rem solid #FFFFFF;
    }
    .moviedetails div:last-child{
        border: none;
        margin-right: 0;
        padding-right: 0;
    }
}    
